<html>
<head>
<meta name="viewport" content="width=300" />
	<script type ="text/javascript" src = "http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.js"></script>
  <link href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/themes/base/jquery-ui.css" rel="stylesheet" type="text/css"/>
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4/jquery.min.js"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/jquery-ui.min.js"></script>
  <script src="../static/js/jquery.iphoneui.js" type="text/javascript" charset="utf-8"></script>

	<script type ="text/javascript">
	
	//Turn on drag and drop sorting and constrain to y axis	
		$(function() {
			$("#container").sortable({placeholder: 'ui-state-highlight',
			axis: 'y'});

		});
	
		$(document).ready(function(){
			template = $("#doneTemplate");
			itemList = $("#container");
			$("#newItem").hide();
		})
		
	// show/hide input textbox 
		function add(){
			newItem = $("#newItem")[0];
			if (newItem.style.display!="block"){
				newItem.style.display="block";
			}
			else{
				$("#itemInput").value="";
				newItem.style.display="none";
			}

		}
	
	//crash test dummy item
		function makeCurrentItem() {
			template = $("#currentTemplate");
			itemList = $("#container");
			clone = template.clone();
			itemList.append(clone);
			clone.show();
			$('.drag').addTouch();		
		}

	//crash test dummy item		
		function makeDoneItem() {
			template = $("#doneTemplate");
			itemList = $("#container");
			clone = template.clone();
			itemList.append(clone);
			clone.show();
			$('.drag').addTouch();		
		}
	
	//grab input from textbox and generate item in list
		function makeFutureItem(name) {
			var check = document.getElementById("futureCheck");
			template = $("#futureTemplate");
			itemList = $("#container");
			newItem=$("#itemInput")[0].value;
			check.style.visibility = "hidden";
			clone = template.clone();
			clone.find("span").html(newItem);
			itemList.append(clone);
			clone.show();
			$('.drag').addTouch();
			$("#itemInput")[0].value="";
			$("#newItem")[0].style.display="none"				
		}
	</script>


	<style type="text/css">
	
	#container{
		font-family: Helvetica, sans-serif;
		margin: 0px;
		padding: 0px;
	}
	
	#border{
		border:1px solid;
		margin: 0px;
		padding: 0px;
		height: 480px;
		width: 320px;
	}
	#container div{
		height: 8.75%;
		border: 1px solid;
		margin: .07em;
		padding: 0px;
	}
	
	.delete{
		float: left;
		margin-top: 2px;
	}
	
	.check{
		height: 30px;
		width: 30px;
		margin-top: 5px;
		margin-right: 5px;

	}
	
	.drag{
		float: right;
	}
	
	#header{
		text-align: center;
	}
	
	.template{
		display: none;
	}
	
	#newItem{
		display:none;
	}

	</style>
</head>
<body>
<div id="border">
	
	<div id="header">Edit 
		<input type="button" value="Done" onclick="makeDoneItem()">
		<input type="button" value="Current" onclick="makeCurrentItem()">
		<input type="button" value="Add" onclick="add()"> </div>
	
	<div id="newItem">
		<input type="text" name="item" value="" id="itemInput" class="textbox">
		<button type = "submit" onclick="makeFutureItem();">Submit</button>
	</div>		
	
<div id="container">
	
			
	<div id="currentTemplate" class="template">
		<img src="{{ static_url("images/delete.png")}}" class="delete">
		--->
		current Item
		<img src ="{{ static_url("images/drag.png")}}" class="drag">		
	</div>

	<div id="doneTemplate" class="template">
		<img src="{{ static_url("images/delete.png")}}" class="delete">
		<img src="{{ static_url("images/accept.png")}}" class="check">
		Done Item
		<img src ="{{ static_url("images/drag.png")}}" class="drag">		
	</div>	

	<div id="futureTemplate" class="template">
		<img src="{{ static_url("images/delete.png")}}" class="delete">
		<img src="{{ static_url("images/accept.png")}}" class="check" id="futureCheck">
		<span id="text"></span>
		<img src ="{{ static_url("images/drag.png")}}" class="drag">		
	</div>
	

</div>
Done

</div>
</body>
</html>