<html>
<head>
	<meta name="viewport" content="width=300" />
	</head>
<table border="1" width="320" height=480>
	<tr height=8.3%><th>Edit</th></tr>
	<tr height=8.3%><th></th> <th><img src="accept.png" height="27"/></th> <th width="70%">Item 1 </th> <th></th> </tr>
	<tr height=8.3%><th></th> <th><img src="accept.png" height="27"/></th> <th width="70%">Item 2 </th> <th></th> </tr>
	<tr height=8.3%><th></th> <th><img src="accept.png" height="27"/></th> <th width="70%">Item 3 </th> <th></th> </tr>
	<tr height=8.3%><th><img src="delete.png" /></th> <th>-></th> <th width="70%">Item 4 </th> <th><img src="drag.png"></th> </tr>
	<tr height=8.3%><th><img src="delete.png" /></th> <th></th> <th width="70%">Item 5 </th> <th><img src="drag.png"></th> </tr>
	<tr height=8.3%><th><img src="delete.png" /></th> <th></th> <th width="70%">Item 6 </th> <th><img src="drag.png"></th> </tr>
	<tr height=8.3%><th><img src="delete.png" /></th> <th></th> <th width="70%">Item 7 </th> <th><img src="drag.png"></th> </tr>
	<tr height=8.3%><th><img src="delete.png" /></th> <th></th> <th width="70%">Item 8 </th> <th><img src="drag.png"></th> </tr>
	<tr height=8.3%><th><img src="delete.png" /></th> <th></th> <th width="70%">Item 9 </th> <th><img src="drag.png"></th> </tr>
	<tr height=8.3%><th><img src="delete.png" /></th> <th></th> <th width="70%">Item 10 </th> <th><img src="drag.png"></th> </tr>
	<tr height=8.3%><th>Done</th></tr>
</table>
</html>
