<html>
<head>
	<meta http-equiv="Content-type" content="text/html; charset=utf-8">
	<title>Yarn Connection Test</title>
	<style type="text/css" media="screen">
		#response {
			font-family: Helvetica;
		}
	</style>
	<script type="text/javascript" src="http://code.jquery.com/jquery-1.4.2.js"></script>

	<script type="text/javascript" charset="utf-8">
	
		var userUUID;
		var roomUUID;
		
		var stopConnection = false;
	
		function newConnection() {
			stopConnection = false;
			userUUID = $('#user')[0].value;
			roomUUID = $('#room')[0].value;
			console.log("user: " + userUUID + "; room: " + roomUUID);
			// Make the first connection to the server.
			connect(userUUID, roomUUID);
		}
		
		function connect(user, room) {
			// Check and see if the stop connection flag has been thrown.
			if(!stopConnection) {
				console.log("Connect to /connect/ for " + user + "@" + room);
			
				$.ajax({url:"http://localhost:8888/connect/",
						method: "GET",
						dataType: "json",
						data: {"user":user, "room":room},
						success: responseReceived,
						error: connectionFailed,
						cache: false,
					});
			} else {
				console.log("Was going to reconnect, but got stopped.");
			}
		}
		
		function responseReceived(response) {
			console.log("response: " + response.eventType);
			
			var message = "" + new Date().getTime() + " - ";
			$("#response").append(message + dumpDict(response) + "<br/>");
			connect(userUUID, roomUUID);
		}
		
		function dumpDict(dict) {
			response = "{"
			for(key in dict) {
				response = response + key + ":" + dict[key] + ", ";
			}
			return response + "}";
		}
		
		function connectionFailed(request, status, error) {
			console.log("Connection failed: " + error);
			
			// Try again. We can trust the server to hold stuff in a queue
			// for us. (Although, are we worried about the server sending
			// something that the client doesn't receive? Do we need ACKs?
			// We'll need to build somethign into the connect request that
			// contains the most recent key that it saw and use THAT to flush
			// the event queue.)
			connect(userUUID, roomUUID);
		}
		
		function setStopConnection() {
			// This should also end the current outstanding request,
			// but I'm not sure exactly how to do that yet.
			stopConnection = true;
		}
		
	</script>
</head>
<body id="connection_test" onload="">
<div id="messages">
<h1>Yarn Connection Test</h1>
<label for="user">Select User</label>
<select name="user" id="user" onchange="" size="1">
	{% for user in users %}
	<option value="{{user.uuid}}">{{user.name}}</option>
	{% end %}
</select>

<label for="room">Select Room</label>
<select name="room" id="room" onchange="" size="1">
	{% for room in rooms %}
	<option value="{{room.uuid}}">{{room.name}}</option>
	{% end %}
</select>
<button id="connect" onclick="newConnection()">Connect</button>
<button id="stop" onclick="setStopConnection()">Stop</button>

<div id="response">
	
</div>


</body>
</html>