<html>
<head>
	<meta http-equiv="Content-type" content="text/html; charset=utf-8">
	<title>Yarn Connection Test</title>
	<style type="text/css" media="screen">
		#response {
			font-family: Helvetica;
		}
	</style>
	<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.js"></script>
	<script type="text/javascript" src="{{static_url('js/util.js')}}"></script>
 	<script type="text/javascript" src="{{static_url('js/ConnectionManager.js')}}"></script>
 	<script type="text/javascript" src="{{static_url('js/StateManager.js')}}"></script>
 	<script type="text/javascript" src="{{static_url('js/model.js')}}"></script>


	<script type="text/javascript" charset="utf-8">
		var conn = null;
				
				$("document").ready(function() {
					console.log("document ready");
					conn = connection;

					conn.addListener({connectionEvent: function(e) {
						console.log("Listener received conn event: " + e);
					}});
					
					// Setup the button actions.
					$("#login").click(function() {
						conn.setUser($('#user')[0].value);
						conn.connect();
					});
					
					$('#stop').click(function() {
						conn.stopPersistentConnection();
					});
					
					$('#join_location').click(function() {
						conn.joinLocation($('#location')[0].value);
					});
					
					$('#join_room').click(function() {
						conn.joinRoom($('#room')[0].value);
					});
					
					$('#new_user_button').click(function() {
						conn.addUser($('#new_user')[0].value);
					})
					
				});
		
	</script>
</head>
<body id="connection_test" onload="">
<div id="messages">
<h1>Yarn Connection Test</h1>
<label for="user">Select User</label>
<select name="user" id="user" onchange="" size="1">
	{% for user in users %}
	<option value="{{user.uuid}}">{{user.name}}</option>
	{% end %}
</select>

<label for="location">Select Location</label>
<select name="location" id="location" onchange="" size="1">
	{% for location in locations %}
	<option value="{{location.uuid}}">{{location.name}}</option>
	{% end %}
</select>

<label for="room">Select Room</label>
<select name="room" id="room" onchange="" size="1">
	{% for room in rooms %}
	<option value="{{room.uuid}}">{{room.name}}</option>
	{% end %}
</select>



<button id="login" >Login</button>
<button id="join_room">Join Room</button>
<button id="join_location">Join Location</button>
<button id="leave_room">Leave Room</button>
<button id="stop">Stop</button>
<label for="new_user">New User</label><input type="text" name="new_user" value="" id="new_user">
<button id="new_user_button">New User</button>



<div id="response">
	
</div>


</body>
</html>