<html>
<head>
	<meta http-equiv="Content-type" content="text/html; charset=utf-8">
	<title>Yarn Connection Test</title>
	<style type="text/css" media="screen">
		#response {
			font-family: Helvetica;
		}
	</style>
	<script type="text/javascript" src="http://code.jquery.com/jquery-1.4.2.js"></script>

	<script type="text/javascript" charset="utf-8">
	
		var userUUID;
		var roomUUID;
		
		var stopConnection = false;
		
		function newConnection() {
			stopConnection = false;
			userUUID = $('#user')[0].value;
			console.log("user: " + userUUID + " about to connect.");
			// Make the first connection to the server.
			connect(userUUID);
		}
		
		function connect(userUUID) {
			// Check and see if the stop connection flag has been thrown.
			if(!stopConnection) {
				console.log("Connect to /connect/ for " + userUUID);
			
				$.ajax({url:"http://localhost:8888/connect/",
						type: "GET",
						dataType: "json",
						data: {"userUUID":userUUID},
						success: responseReceived,
						error: connectionFailed,
						cache: false,
					});
			} else {
				console.log("Was going to reconnect, but got stopped.");
			}
		}
		
		function joinRoom() {
			userUUID = $('#user')[0].value;
			roomUUID = $('#room')[0].value;
			
			console.log("About to join room: " + roomUUID);
			$.ajax({url:"http://localhost:8888/rooms/join",
				type: "POST",
				dataType: "json",
				data: {"userUUID":userUUID, "roomUUID":roomUUID},
				success: joinRoomResponse,
				error: joinRoomFailed,
				cache: false,
			});
		}
		
		function joinRoomResponse(response) {
			console.log("ROOM JOINED");
		}
		
		function joinRoomFailed(request, status, error) {
			console.log("ROOM JOIN FAILED");
		}
		
		function leaveRoom() {
			userUUID = $('#user')[0].value;
			roomUUID = $('#room')[0].value;
			
			console.log("About to leave room: " + roomUUID);
			$.ajax({url:"http://localhost:8888/rooms/leave",
				type: "POST",
				dataType: "json",
				data: {"userUUID":userUUID, "roomUUID":roomUUID},
				success: leaveRoomResponse,
				error: leaveRoomFailed,
				cache: false,
			});
		}
		
		function leaveRoomResponse(response) {
			console.log("ROOM LEFT");
		}
		
		function leaveRoomFailed(request, status, error) {
			console.log("ROOM LEFT FAILED");
		}
		
		function responseReceived(response) {
			console.log("events: " + response.length);
			
			for(var key in response) {
				var ev = response[key];
			// var message = "" + new Date().getTime() + " - ";
			console.log("  type: " + ev.eventType);
				$("#response").append(dumpDict(ev) + "<br/>");
			}
			connect(userUUID, roomUUID);
		}
		
		function dumpDict(dict) {
			response = "{"
			for(key in dict) {
				response = response + key + ":" + dict[key] + ", ";
			}
			return response + "}";
		}
		
		function connectionFailed(request, status, error) {
			console.log("Connection failed: " + error);
			
			// Try again. We can trust the server to hold stuff in a queue
			// for us. (Although, are we worried about the server sending
			// something that the client doesn't receive? Do we need ACKs?
			// We'll need to build somethign into the connect request that
			// contains the most recent key that it saw and use THAT to flush
			// the event queue.)
			connect(userUUID, roomUUID);
		}
		
		function setStopConnection() {
			// This should also end the current outstanding request,
			// but I'm not sure exactly how to do that yet.
			stopConnection = true;
		}
		
		function login() {
			userUUID = $('#user')[0].value;
			
			console.log("About to login user: " + userUUID);
			$.ajax({url:"http://localhost:8888/connect/login",
				type: "POST",
				dataType: "json",
				data: {"actorUUID":userUUID},
				cache: false,
			});
		}
		
		function createNewUser() {
			newUserName = $('#new_user')[0].value;
			
			console.log("About to create user: " + newUserName);
			$.ajax({url:"http://localhost:8888/users/add",
				type: "POST",
				dataType: "json",
				data: {"name":newUserName},
				cache: false,
			});
		}
		
	</script>
</head>
<body id="connection_test" onload="">
<div id="messages">
<h1>Yarn Connection Test</h1>
<label for="user">Select User</label>
<select name="user" id="user" onchange="" size="1">
	{% for user in users %}
	<option value="{{user.uuid}}">{{user.name}}</option>
	{% end %}
</select>

<label for="room">Select Room</label>
<select name="room" id="room" onchange="" size="1">
	{% for room in rooms %}
	<option value="{{room.uuid}}">{{room.name}}</option>
	{% end %}
</select>
<button id="login" onclick="login()">Login</button>
<button id="connect" onclick="newConnection()">Connect</button>
<button id="join" onclick="joinRoom()">Join</button>
<button id="leave" onclick="leaveRoom()">Leave</button>
<button id="stop" onclick="setStopConnection()">Stop</button>
<label for="new_user">New User</label><input type="text" name="new_user" value="" id="new_user">
<button id="new_user_button" onclick="createNewUser()">New User</button>



<div id="response">
	
</div>


</body>
</html>