<!DOCTYPE html>
<html lang="en">
<head>
	<meta http-equiv="Content-type" content="text/html" charset="utf-8">
	<title>Tin Can Meeting System</title>
	
	<!-- iPhone specific viewport sizing instructions. -->
	<meta name="viewport" content="width=320; initial-scale=1.0; minimum-scale=1.0; maximum-scale=1.0; user-scalable=0;">
	<link rel="apple-touch-icon-precomposed" href="{{static_url('images/demoIcon.png')}}" />
	
	<script type ="text/javascript" src = "http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.js"></script>
	<script type = "text/javascript" src = "../static/js/Timeline.js"></script>
	<script type="text/javascript" src="{{static_url('js/util.js')}}"></script>
	<script type="text/javascript" src="{{static_url('js/ConnectionManager.js')}}"></script>
	<script type="text/javascript" src="{{static_url('js/StateManager.js')}}"></script>
	<script type="text/javascript" src="{{static_url('js/model.js')}}"></script>


<script type="text/javascript" charset="utf-8">
	// We'll put all our code here.
	
	var localUser;
	
	$("document").ready(function () {
		
		// On load, grab data from the server so we can pick a user
		// to connect as. 
		conn = connection;

		conn.addListener({connectionEvent: function(e) {
			
			switch(e.eventType) {
				
				// case "LOGIN_COMPLETE":
				// 	// we should be able to back out the meeting from the
				// 	// user object. 
				// 	console.log("localUser: " + localUser);
				// 	
				// 	conn.joinRoom(localUser.loc.meeting.room.uuid);
				// 	break;
				// 
				// case ""
				case "NEW_TOPIC":
					var topicElement = $("#topics").children().first().clone();
					topicElement.id = e["results"]["topic"]["uuid"];
					topicElement.children().last().html(e["results"]["topic"]["text"]);
					$("#topics").append(topicElement);
				break;
					
				case "NEW_TASK":
					var taskElement = $("#tasks").children().first().clone();
					var task = e["results"]["task"];
					taskElement.attr('id',e["results"]["task"]["uuid"]);
					taskElement.children('.main').first().children().last()
						.html(task["text"]);
					var createdBy = state.getObj(task["createdBy"],User);
					taskElement.children('.details').first().children().first()
						.html("Created by <strong>"+createdBy.name+"</strong> <span>"+timesince(task['createdAt'])+"</span>");
					//assuming that the new task is not assigned
					taskElement.children('.details').first().children().last()
						.html("Not assigned");
					taskElement.click(function(){
						$(this).children('.details').slideToggle();
					});
					taskElement.children('.details').css('display','block');
					$("#tasks").prepend(taskElement);
					setTimeout(function() {
						taskElement.children('.details').slideUp()
					},500);
					break;
				case "GET_STATE_COMPLETE":
					var users = state.getUsers();

					// Figure out which user is 'Drew' and then log in as them.
					var selectedUser = null;
					for(var index in users) {
						var user = users[index];
						console.log(user.name);
						if(user.name=="Drew") {
							// Connect as that user.
							selectedUser = user;
							// Drop out of the loop.
							break;
						}
					}

					// Connect as the user.
					localUser = selectedUser;
					conn.setUser(selectedUser.uuid);
					break;
				case "LOGIN_COMPLETE":
					$("#login").hide();
					$("#logged_in").show();
					break;
				case "ASSIGN_TASK":
					var taskUUID = e['params']['taskUUID'];
					var assignedTo = state.getObj(e['params']['assignedTo'],User);
					$('#'+taskUUID).children('.details').first().children('.assignedto').first()
						.html('Assigned to <strong>'+assignedTo.name+'</strong>');
					$('#'+taskUUID).children('.details').first().slideDown();
					break;
			}
			
		}});

		// Tell the connection manager to load state so we can pick
		// the uuid of the person we want. 
		conn.getState();
		
		// Execution picks up in the connection manager event handler
		// above, in GET_STATE_COMPLETE.
		
		$("#login").click(function() {conn.connect();});
		
		$("#submit_new_task").click(function() {
			conn.addTask($("#new_task").val());
			$("#new_task").val("new task...");
			return false;
		});
		
		$("#submit_new_topic").click(function() {
			conn.addTopic($("#new_topic").val());
			$("#new_topic").val("new topic...");
			return false;
		});
		
		$("#new_task").click(function () {
			$("#new_task").val("");
		});
		
		$("#new_topic").click(function () {
			$("#new_topic").val("");
		});
		
		$("#login").show();
		$("#logged_in").hide();
		
		$('#tasks li').each(function(){
			$(this).children('.details').first().css('display','none');
			$(this).children('.main').click(function(){
				$(this).parent().children('.details').first().slideToggle();
			});
		});
		
		$('#tasks input[type=submit]').click(function(){
			var task = $(this).closest('li').attr('id');
			var user = $(this).parent().children('.participants').first().val();
			conn.assignTask(task,user);
			return false;
		});
		
	});
	
	
</script>

<style type="text/css" media="screen">
	/* General styles */
	
	body {
		padding: 0px;
		margin: 0px;
		
		font-family: "Century Gothic", Helvetica, sans-serif;
	}
	
	a {
		text-decoration: none;
		font-weight: bold;
		color: black;
	}
	
	h1 {
		margin-top: 10px;
		margin-bottom: 5px;
		font-size: 1.25em;
		
	}
	
	/* Header / Footer setup. */
	header, footer {
		/*width: 100%;*/
		height: 30px;
		background-color: #444444;
		color: #DDDDDD;
		padding: 5px;
	}
	
	header, footer a {
		color: white;
	}
	
	footer {
		font-size: 0.5em;
	}
	
	#logo {
		width: 30px;
		height: 30px;
		
		float: left;
		margin-right: 5px;
	}
	
	#title {
		font-size: 1.8em;
		float: left;
		font-weight: bold;
	}
	
	#identity {
		float: right;
		margin-top: 5px;
		margin-right: 15px;
	}
	

	#container {
		padding: 5px;
	}


	/* Task related styles. */
	
	.add_form {
		width: 100%;
	}
	
	.item_text {
		width: 240px;
		margin-right: 5px;
		float: left;
	}
	
	.submit_item {
		width: 40px;
	}
	
	ul {
		margin-left: 0px;
		margin-top: 10px;
		padding: 0px;
	}
	
	li {
		list-style: none;
		margin-left: 10px;
	}
	
	#logged_in img {
		margin-right: 5px;
	}
	
	#tasks .details {
		padding-left: 20px;
		font-size: 12px;
	}
	#tasks .details > div > span {
		color: #888;
	}
	#tasks p {
		margin: 0;
	}
	
</style>
</head>

<body>
<header>
	<img id="logo" src="{{static_url('images/mini_logo.png')}}"/>
	<div id="title">TIN CAN</div>
	<div id="identity"><input type="button" id="login" value="login">
	<div id="logged_in"><img src="{{static_url('images/user.png')}}">Drew</div>
	</div>
</header>
<div id="container">

<h1>TASKS</h1>
<div id="add_task" class="add_form">
<form action="" method="get" accept-charset="utf-8">
	<input type="text" name="new_task" value="new task..." id="new_task" class="item_text"/>
	<input type="submit" value="Add" id="submit_new_task" class="submit_item"/>
</form>
</div>

<ul id="tasks">
{% for task in tasks %}

<li id="{{task.uuid}}">
	
	<div class="main">
		<img src="{{static_url('images/note.png')}}"/>
		<span>{{task.text}}</span>
	</div>
	<div class="details">
		<div class="createdby">Created by <strong>{{task.createdBy.name}}</strong> <span>{{task.getRelativeCreatedAt()}}</span></div>
		{% if task.assignedTo!=None %}
		<div class="assignedto">Assigned to <strong>{{task.assignedTo.name}}</strong></span></div>
		{% else %}
		<div class="assignedto">
			<p>Not assigned</p>
			<form>
				<input type="submit" value="Assign">&nbsp;to&nbsp;
				<select class="participants">
					{% for participant in participants %}
					<option value="{{participant.uuid}}">{{participant.name}}</option>
					{% end %}
				</select>
			</form>
		</div>
		{% end %}
	</div>
</li>

{% end %}

</ul>



<h1>TOPICS</h1>
<div id="add_topic" class="add_form">
<form action="" method="get" accept-charset="utf-8">
	<input type="text" name="new_topic" value="new topic..." id="new_topic" class="item_text"/>
	<input type="submit" value="Add"/ id="submit_new_topic" class="submit_item">
</form>
</div>

<ul id="topics">
{% for topic in topics %}

<li id="{{topic.uuid}}">
<img src="{{static_url('images/comments.png')}}"/>
<span>{{topic.text}}</span>
</li>

{% end %}
	
</ul>



</div>
<footer>an <a href="http://media.mit.edu/">MIT Media Lab</a> / <a href="http://www.media.mit.edu/speech/">Speech + Mobility</a> project</footer>




</body>
</html>