<!DOCTYPE html>
<html lang="en">
<head>
	<meta http-equiv="Content-type" content="text/html" charset="utf-8">
	<title>Tin Can Meeting System</title>
	
	<!-- iPhone specific viewport sizing instructions. -->
	<meta name="viewport" content="width=320; initial-scale=1.0; minimum-scale=1.0; maximum-scale=1.0; user-scalable=0;">
	<meta name="apple-touch-fullscreen" content="yes" />
	<meta name="apple-mobile-web-app-capable" content="yes" />
	<meta name="apple-mobile-web-app-status-bar-style" content="black" />
	<link rel="apple-touch-icon-precomposed" href="{{static_url('images/demoIcon.png')}}" />
	
	<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.js"></script>
	<script type="text/javascript" src="{{static_url('js/Timeline.js')}}"></script>
	<script type="text/javascript" src="{{static_url('js/util.js')}}"></script>
	<script type="text/javascript" src="{{static_url('js/ConnectionManager.js')}}"></script>
	<script type="text/javascript" src="{{static_url('js/StateManager.js')}}"></script>
	<script type="text/javascript" src="{{static_url('js/model.js')}}"></script>
	<!--jqueryui only has Effects Core, Effect "Highlight", and Effect "Slide"-->
	<script type="text/javascript" src="{{static_url('js/lib/jquery-ui-1.8.6.custom.min.js')}}"></script>
	<script type="text/javascript" src="{{static_url('js/lib/jquery.mustache.js')}}"></script>


<script type="text/javascript" charset="utf-8">
	// We'll put all our code here.
	
	var localUser;
	var pc;
	
	$("document").ready(function() {
		
		// On load, grab data from the server so we can pick a user
		// to connect as. 
		conn = connection;

		//for the disclosure arrow
		function arrowToggle(el) {
			if ($(el).html().charCodeAt(0)=='9654') {
				$(el).html('&#9660;');
			} else {
				$(el).html('&#9654;');
			}
		}
		function arrowDown(el) {
			$(el).html('&#9660;');
		}
		function arrowRight(el) {
			$(el).html('&#9654;');
		}
		
		function hideDetails(e) {
			//e is target li
			$(e).find('.details').slideUp();
			arrowRight($(e).find('.arrow'));
		}
		
		function revealDetails(e) {
			//e is target li
			if($(e).parent().attr('id')=='tasks') {
				hideDetails($('#tasks li').not(e));
			}
			$(e).find('.details').slideDown();
			arrowDown($(e).find('.arrow'));
		}

		function meetingObjectToggle(e) {
			return (function() {
				if (! $(e).find('.details').hasClass('current')) {
					$(e).find('.details').css('display','none');
				} else {
					arrowToggle($(e).find('.text').prev());
				}
				$(e).find('.text').click(function(){
					if($(e).parent().attr('id')=='tasks') {
						//if element is in the #task list then we need accordion behavior
						//on show, all other tasks must be hidden
						//on hide, nothing much to it
						if(!$(e).find('.details').is(':visible')) {
							hideDetails($('#tasks li'));
							revealDetails(e);
						} else {
							hideDetails(e);
						}
					} else {
						//otherwise, element is in #topics list and we don't need accordion behavior
						$(this).parent().parent().find('.details').slideToggle();
						arrowToggle($(this).prev());
					}
				});
			});
		}
		
		function assignTaskAction(e) {
			return (function() {
				var task = $(e).closest('li').attr('id');
				var user = $(e).parent().find('.participants').val();
				conn.assignTask(task,user);
			});
		}
		
		function initializeMeetingView() {
			// Construct all the individual pieces of the meeting view,
			// eg the task the topic DOM elements that we need. Previously,
			// this was done through templates on the server, but it's
			// going to happen here now.
			
			// Munge the topic data into place, since mustache doesn't
			// support dot notation.
			// This isn't exactly the same as in the prev template because
			// that was executing on the server and I need to double check
			// that the local names are the same.
			
			
			if(conn.meeting.topics.length > 0) {
				for(var topicKey in conn.meeting.topics) {
			
				var topic = conn.meeting.topics[topicKey];
			
				var topicView = {
					"topic_uuid":topic.uuid,
					"topic_status":topic.status,            // should be liCurrent,liFuture, liPast
					"topic_text":topic.text,
					"topic_is_current":topic.status=="CURRENT",
					"topic_createdby_name":topic.creator.name,
					"topic_createdat_ago":timesince(topic.createdAt), // run this one through the time-since conversion to get, eg, 26m ago
				};
			
				var topicTemplate = "<li id=\"{!topic_uuid!}\"\ class=\"li{!topic_status!}\">\
					<div class=\"main\">\
						<div class=\"arrow\">&#9654;</div>\
						<div class=\"text\">{!topic_text!}</div>\
					</div>\
					<div class=\"controlForm\">\
						<form>\
							<input type=\"submit\" value=\"Restart\" class=\"restart\">\
						</form>\
					</div>\
					{!#topic_is_current!}\
					<div class=\"createdby\">\
						Created by <strong>{!topic_createdby_name!}</strong>\
						<span>Started {!topic_createdat_ago!}</span>\
					</div>\
					<div class=\"controlForm\">\
						<form>\
							<input type=\"submit\" value=\"Stop\" class=\"stop\">\
						</form>\
					</div>\
					{!/topic_is_current!}\
					{!^topic_is_current!}\
					<div class=\"createdby\">\
						Created by <strong>{!topic_createdby_name!}</strong>\
						<span>Not Started</span>\
					</div>\
					<div class=\"controlForm\">\
						<form>\
							<input type=\"submit\" value=\"Start\" class=\"start\">\
						</form>\
					</div>\
					{!/topic_is_current!}\
					</div>\
					<div class=\"clearfix\"></div>\
				</li>";
			
				var newTask = $($.mustache(taskTemplate,taskView));
				console.log("newTask: " + newTask);
				$("#topicdiv").append(newTask);
			
				}
			}
			
			
			// // generate this in advance
			// var participantOptionList = "<select class=\"participants\">";
			// 
			// for(var userKey in conn.meeting.users) {
			// 	var user = conn.meeting.users[userKey];
			// 	
			// 	participantOptionList = participantOptionList + "<option value=\""user.uuid"\">" + user.name + "</option>";
			// }
			// 
			// participantOptionList = participantOptionList + "</select>";
			// 
			// var topicView = {
			// 	"task_uuid":,
			// 	"task_text":,
			// 	"task_is_assigned":,
			// 	"task_createdby_name":,
			// 	"task_createdat_ago":,
			// 	"task_assignedto_name":,
			// 	"participant_option_list":participantOptionList,
			// };
			// 
			// var topicTemplate = """
			// <li id=\"{!task_uuid!}\">
			// 
			// 		<div class=\"main\">
			// 			<div class=\"arrow\">&#9654;</div>
			// 			<div class=\"text\">{!task_text!}</div>
			// 		</div>
			// 		<div class=\"details\">
			// 			<div class=\"createdby\">Created by <strong>{!task_createdby_name!}</strong> <span>{!task_createdat_ago!}</span></div>
			// 			{!#task_is_assigned!}
			// 			<div class=\"assignedto\">Assigned to <strong>{!task_assignedto_name!}</strong></span></div>
			// 			<div class=\"assignform\">
			// 				<form>
			// 					<input type=\"submit\" value=\"Deassign\" class=\"deassign\">
			// 				</form>
			// 			</div>	
			// 			{!/task_is_assigned!}
			// 			{!^task_is_assigned!}
			// 
			// 			<div class=\"assignedto\">Not assigned</div>
			// 			<div class=\"assignform\">
			// 				<form>
			// 					<input type=\"submit\" value=\"Assign\" class=\"assign\">&nbsp;to&nbsp;
			// 					{!participant_option_list!}
			// 				</form>
			// 			</div>
			// 			{!^task_is_assigned!}
			// 		</div>
			// 		<div class=\"clearfix\"></div>
			// 	</li>
			// """;
			
		}

		$('#tasks li, #topics li').each(function(){
			meetingObjectToggle($(this))();
		});

		$('#tasks input[type=submit].assign').click(function(){
			var taskUUID = $(this).closest('li').attr('id');
			var userUUID = $(this).parent().find('.participants').val();
			conn.assignTask(taskUUID,userUUID);
			return false;
		});
		
		$('#tasks input[type=submit].deassign').click(function(){
			var taskUUID = $(this).closest('li').attr('id');
			conn.deassignTask(taskUUID);
			return false;
		});
		
		$('#topics input[type=submit].start').click(function(){
			var topicUUID = $(this).closest('li').attr('id');
			conn.updateTopic(topicUUID,"CURRENT");
			return false;
		});
		
		$('#topics input[type=submit].stop').click(function(){
			var topicUUID = $(this).closest('li').attr('id');
			conn.updateTopic(topicUUID,"PAST");
			return false;
		});
		
		$('#topics input[type=submit].restart').click(function(){
			var topicUUID = $(this).closest('li').attr('id');
			conn.restartTopic(topicUUID);
			return false;
		});

		conn.addListener({connectionEvent: function(e) {
			
			switch(e.eventType) {
				case "LOCATION_JOINED_MEETING":
					console.log("LOCATION JOINED MEETING IN DEMO");
					loadMain();
					break;
				// case "LOGIN_COMPLETE":
				// 	// we should be able to back out the meeting from the
				// 	// user object. 
				// 	console.log("localUser: " + localUser);
				// 	
				// 	conn.joinRoom(localUser.loc.meeting.room.uuid);
				// 	break;
				// 
				// case ""
				case "NEW_TOPIC":
					var topicElement = $("#topics").children().first().clone();
					var topic = e["results"]["topic"];
					//set topic id
					topicElement.attr('id',topic["uuid"]);
					topicElement.attr('class','liFuture');
					//set .text div
					topicElement.find('.text').html(topic["text"]);
					//set created by and started at (assuming startTime is null)
					var createdBy = state.getObj(topic["createdBy"],User);
					topicElement.find('.createdby').html("Created by <strong>"+createdBy.name+"</strong> <span>Not started</apn>");
					//add start form
					var html = '<form>';
					html += '<input type="submit" value="Start" class="start">';
					html += '</form>';
					topicElement.find('.controlForm').html(html);
					topicElement.find('.start').click(function(){
						conn.updateTopic(topic["uuid"],"CURRENT");
						return false;
					});
					//add onclick behavior
					meetingObjectToggle(topicElement)();
					arrowDown(topicElement.find('.arrow'));
					topicElement.find('.details').css('display','block');
					$("#topics").append(topicElement);
					break;
				case "UPDATE_TOPIC":
					var topicUUID = e["params"]["topicUUID"];
					topic = state.getObj(topicUUID,Topic);
					if (topic.status == "PAST") {
						
						stopTime = topic.stopTime.getTime()/1000;
						$('#'+topicUUID+' .createdby span').first().html('Ended '+timesince(stopTime));
						var html = '<form>';
						html += '<input type="submit" value="Restart" class="restart">';
						html += '</form>';
						$('#'+topicUUID+' .controlForm').html(html);
						$('#'+topicUUID+' .restart').click(function(){
							conn.restartTopic(topicUUID);
							return false;
						});
						
						$('#'+topicUUID).insertAfter($('#topics .liPast').last());
						$('#'+topicUUID).attr('class','liPast');
						revealDetails($('#'+topicUUID));
					} else if (topic.status == "CURRENT") {
						$('#'+topicUUID+' .createdby span').first().html('Started just now');
						var html = '<form>';
						html += '<input type="submit" value="Stop" class="stop">';
						html += '</form>';
						$('#'+topicUUID+' .controlForm').html(html);
						$('#'+topicUUID+' .stop').click(function(){
							conn.updateTopic(topicUUID,"PAST");
							return false;
						});
						
						$('#'+topicUUID).insertAfter($('#topics .liPast').last());
						$('#'+topicUUID).attr('class','liCurrent');
						revealDetails($('#'+topicUUID));
					}
					revealDetails($('#'+topicUUID));
					$('#'+topicUUID+' .createdby span').css('background-color','#ffff99');
					$('#'+topicUUID+' .createdby span').animate({
						'background-color': '#FFF'
					},3000);
					break;
				case "NEW_TASK":
					var taskElement = $("#tasks").children().first().clone();
					var task = e["results"]["task"];
					//set task id
					taskElement.attr('id',task["uuid"]);
					//set .text div
					taskElement.find('.text').html(task["text"]);
					//set created by and created at
					var createdBy = state.getObj(task["createdBy"],User);
					taskElement.find('.createdby').html("Created by <strong>"+createdBy.name+"</strong> <span>"+timesince(task['createdAt'])+"</span>");
					//assuming that the new task is not assigned
					taskElement.find('.assignedto').html("Not assigned");
					//add onclick behavior
					meetingObjectToggle(taskElement)();
					//add assign form
					var html = '<form>';
					html += '<input type="submit" value="Assign" class="assign">&nbsp;to&nbsp;';
					html += '<select class="participants">';
					var participants = conn.meeting.getCurrentParticipants();
					var x;
					for (x in participants) {
						html += '<option value="'+participants[x].uuid+'">'+participants[x].name+'</option>';
					}
					html += '</select>';
					html += '</form>';
					taskElement.find('.assignform').html(html);
						
					taskElement.find('input[type=submit].assign').click(function(){
						var task = $(this).closest('li').attr('id');
						var user = $(this).parent().find('.participants').val();
						conn.assignTask(task,user);
						return false;	
					});
					arrowDown(taskElement.find('.arrow'));
					taskElement.find('.details').css('display','block');
					$("#tasks").prepend(taskElement);
					setTimeout(function() {
						taskElement.find('.details').slideUp();
						arrowRight(taskElement.find('.arrow').first());
					},500);
					break;
				case "ASSIGN_TASK":
					var taskUUID = e['params']['taskUUID'];
					if (e['params']['deassign'] == false) {
						var assignedTo = state.getObj(e['params']['assignedTo'],User);
						$('#'+taskUUID+' .assignedto').first().html('Assigned to <strong>'+assignedTo.name+'</strong>');
						$('#'+taskUUID+' .assignform').first().html('<form><input type="submit" value="Deassign" class="deassign"/></form>');
						$('#'+taskUUID+' input[type=submit].deassign').click(function(){
							conn.deassignTask(taskUUID);
							return false;
						});
					} else {
						$('#'+taskUUID).find('.assignedto').html('Not assigned');
						var html = '<form>';
						html += '<input type="submit" value="Assign" class="assign">&nbsp;to&nbsp;';
						html += '<select class="participants">';
						var participants = conn.meeting.getCurrentParticipants();
						var x;
						for (x in participants) {
							html += '<option value="'+participants[x].uuid+'">'+participants[x].name+'</option>';
						}
						html += '</select>';
						html += '</form>';
						$('#'+taskUUID).find('.assignform').html(html);
						$('#'+taskUUID+' input[type=submit].assign').click(function(){
							assignTaskAction($(this))();
							return false;
						});
					}
					revealDetails($('#'+taskUUID));
					$('#'+taskUUID).find('.assignedto').css('background-color','#ffff99').animate({
						'background-color': '#DDD'
					},{
						'duration': 3000,
						'queue': false
					});
					console.log('ddd');
					break;
				/*
				case "GET_STATE_COMPLETE":
					var users = state.getUsers();

					// Figure out which user is 'Drew' and then log in as them.
					var selectedUser = null;
					for(var index in users) {
						var user = users[index];
						console.log(user.name);
						if(user.name=="Drew") {
							// Connect as that user.
							selectedUser = user;
							// Drop out of the loop.
							break;
						}
					}

					// Connect as the user.
					localUser = selectedUser;
					conn.setUser(selectedUser.uuid);
					break;*/
				case "LOGIN_COMPLETE":
					$("#login").hide();
					$("#logged_in").show();
					break;
			}
			
		}});

		// Tell the connection manager to load state so we can pick
		// the uuid of the person we want. 
		conn.getState();
		
		//tabs
		$('#navbar h1').each(function(i,j){
			$(this).click(function(){
				$('.current').removeClass('current');
				$(this).addClass('current');
				$('#maindivs .pane').each(function(k,l) {
					if (k==i) $(this).show();
					else $(this).hide();
				});
			});
			if ($(this).hasClass('current')) {
				$('#maindivs .pane').each(function(k,l) {
					if (k==i) $(this).show();
					else $(this).hide();
				});
			}
		});
		
		//pane functions for login interface
		function PaneController(loginPane,mainDiv) {
			console.log('INIT PaneController');
			this.panes = [$(loginPane)];
			this.current = this.panes[0];
			this.main = $(mainDiv);
			//this.transtions is used to store "transition" panes
			//transition panes will be skipped and popped if this.backward() is called
			this.transitions = [];
			
			$(this.main).height($(this.current).height());
		}
		
		PaneController.prototype = {
			
			push_pane: function(newpane,moveforward,transition) {
				var pane = $(newpane);
				pane.css('display','none');
				this.panes.push(pane);
				$('#logindiv').append(pane);
				
				if (typeof moveforward=='undefined') moveforward = true;
				if (moveforward==true) this.forward();
				
				if (typeof transition=='undefined') transition = false;
				if (transition==true) {
					this.transitions.push(pane);
				}
			},
			
			move_pane: function(i) {
				//i indicates forward (i=1) or backward (i=-1)
				var newwidth = $(this.main).width();
				var index = $.inArray(this.current,this.panes) + i*1;
				var newpane = this.panes[index];
				if (i==-1) {
					tindex = $.inArray(newpane,this.transitions);
					while (tindex!=-1) {
						this.panes.splice(index,1);
						this.transitions.splice(tindex,1);
						var index = $.inArray(this.current,this.panes) + i*1;
						var newpane = this.panes[index];
						tindex = $.inArray(newpane,this.transitions);
					}
				}
				var newheight = $(newpane).height();
				if (typeof newpane !== 'undefined') {
					$(this.current).animate({
						'left': i*-newwidth
					});
					$(this.main).animate({
						'height': newheight
					});
					$(newpane).width(newwidth);
					newpane.css({
						'visibility': 'hidden',
						'display': 'block',
						'left': i*newwidth
					});
					newpane.css('visibility','visible');
					if (i==-1) {
					    var that = this;
					    newpane.animate({
					        'left': 0
					    }, function() {
					        that.panes.pop();
					        $(that.current).remove();
					        that.current = newpane;
					    });
					} else {
					    newpane.animate({
					        'left': 0
					    });
					    this.current = newpane;
					}
				}
			},
			
			forward: function() {
				this.move_pane(1);
			},
			
			backward: function() {
				this.move_pane(-1);
			}
			
		}
		
		pc = new PaneController('#startPane','#logindiv');
		
		// Execution picks up in the connection manager event handler
		// above, in GET_STATE_COMPLETE.
		
		$("#submit_new_task").click(function() {
			conn.addTask($("#new_task").val());
			return false;
		});
		
		$("#submit_new_topic").click(function() {
			conn.addTopic($("#new_topic").val());
			return false;
		});
		
		$("#login").show();
		$("#logged_in").hide();
		
		//set up various list views using mustache.js
		//note that otag and ctag have been switched to {! !} to avoid conflicts with tornado
		function pushLocations() {
			var locationView  = {
				locations: state.getLocations()
			}
			var template = '<div id="locationPane" class="pane"><h1><a>&laquo;&nbsp;Choose User</a>Locations</h1><ul class="paneList">{!#locations!}<li id={!uuid!}>{!name!}</li>{!/locations!}</ul></div>';
			var newPane = $($.mustache(template,locationView));
			newPane.find('a').click(function(){
				pc.backward();
			});
		    newPane.find('li').each(function(){
			    $(this).click(function(){
					// Tell the server that this user is joining
					// this location.
					console.log("just before we join location, checking conn.user");
					console.log(conn.user);
					conn.joinLocation($(this).attr('id'), conn.user.uuid);
			        //localLocation = state.getObj($(this).attr('id'),Location);
					
					// TODO
					// if location is in a meeting already, loadMain() instead
					
					//otherwise pushMeetings
			        pushMeetings('Locations');
			    });
			});
			pc.push_pane(newPane);
		}
		
		function pushMeetings(lastView) {
			var meetingView = {
				lastView: lastView,
				meetings: state.getMeetings()
			}
			var template = '<div id="meetingPane" class="pane"><h1><a>&laquo;&nbsp;{!lastView!}</a>Meetings</h1><ul class="paneList">{!#meetings!}<li id={!uuid!}>{!title!}</li>{!/meetings!}</ul></div>';
			var newPane = $($.mustache(template,meetingView));
			newPane.find('a').click(function(){
				pc.backward();
			});
			newPane.find('li').each(function(){
				$(this).click(function(){
					//set meeting variables here
					var localMeeting = state.getObj($(this).attr('id'),Meeting);
					conn.joinRoom(localMeeting.room.uuid)
				});
			});
			pc.push_pane(newPane);
		}
		
		function skipLocations() {
			var newPane = $('<div id="skipPane" class="pane"><span>User is in location <strong>'+conn.loc.name+'</strong>, skipping to meeting selection.</span></div>');
			pc.push_pane(newPane,true,true);
			setTimeout(function(){
				pushMeetings('Choose User');
			},2000)
		}
		
		function skipLocationsAndMeetings() {
			var newPane = $('<div id="skipPane" class="pane"><span>User is in location <strong>'+conn.loc.name+'</strong> and meeting <strong>'+localMeeting.title+'</strong>, skipping location and meeting selection.</span></div>');
			pc.push_pane(newPane,true,true);
			setTimeout(function(){
				
				// We're allowed to do this directly, here, because in this
				// situation we should alread have all the info we need
				// about this person's statuses
				console.log("At the hard-coded loadMain.");
				loadMain();
			},2000)
		}
		
		//write function skipMeetings()
		
		function loadMain() {
			alert("About to swap in the meeting information.");
			initializeMeetingView();
			
			$('#logindiv').hide();
			$('#maindivs').show();
			
		}
		
		$('#startPane .paneList li').each(function(){
			$(this).click(function(){
				var name = $(this).html();
				$('#logged_in span').html(name);
				var uuid = $(this).attr('id');
				localUser = state.getObj(uuid,User);
				conn.setUser(uuid);
				
				console.log("Just set user: ")
				conn.connect();
				
				if (conn.user.isInLocation()==false) {
				    pushLocations();
				} else if (conn.user.isInLocation()==true &&
						   conn.meeting==null) {
				    skipLocations();
				} else {
					// isInLocation is true and conn.meeting != null
				    skipLocationsAndMeetings();
				}
			});
		});
		
	});
	
	
</script>

<style type="text/css" media="screen">
	/* General styles */
	
	body {
		padding: 0px;
		margin: 0px;
		font-family: Helvetica, sans-serif;
	}
	
	a {
		text-decoration: none;
		font-weight: bold;
		color: black;
	}
	
	#navbar {
		text-align: center;
		background-color: #EEE;
	}
	
	#navbar h1 {
		margin: 10px 5px 0;
		border-top-right-radius: 3px;
		border-top-left-radius: 3px;
		padding-bottom: 3px;
		-webkit-tap-highlight-color: #FFF;
		padding-top: 10px;
		font-size: 1.25em;
		display: inline-block;
		clear: left;
		width: 40%;
		text-align: center;
	}
	
	#navbar h1.current {
		background-color: #FFF;
	}
	
	#logindiv h1 {
		background-color: #EEE;
		margin: 0;
		padding: 10px;
		font-size: 25px;
	}
	
	/* Header / Footer setup. */
	header, footer {
		/*width: 100%;*/
		height: 30px;
		background-color: #444444;
		color: #DDDDDD;
		padding: 5px;
	}
	
	header, footer a {
		color: white;
	}
	
	footer {
		font-size: 0.5em;
	}
	
	#logo {
		width: 30px;
		height: 30px;
		
		float: left;
		margin-right: 5px;
	}
	
	#title {
		font-size: 1.8em;
		float: left;
		font-weight: bold;
	}
	
	#identity {
		float: right;
		margin-top: 5px;
		margin-right: 15px;
	}

	#taskdiv, #topicdiv {
		padding: 5px;
	}
	
	#container {
		min-height: 370px;
	}

	/* Task related styles. */
	
	.add_form {
		width: 100%;
	}
	
	.item_text {
		width: 240px;
		margin-right: 5px;
		float: left;
	}
	
	.submit_item {
		width: 40px;
	}
	
	ul {
		margin-left: 0px;
		margin-top: 10px;
		padding: 0px;
	}
	
	li {
		list-style: none;
		margin: 0 10px 10px;
		padding: 5px;
		border-radius: 3px;
	}
	
	#tasks li {
		background-color: #EEE;
	}
	
	#topics li.liPast {
		background-color: #EEE;
	}
	#topics li.liCurrent {
		background-color: #5EFEB2;
	}
	#topics li.liFuture {
		background-color: #E3F6FF;
	}
	
	#logged_in img {
		margin-right: 5px;
	}
	
	.arrow {
		float: left;
		width: 20px;
		text-align: center;
		font-size: 11px;
		color: #AAA;
		clear: left;
		position: relative;
		top: 2px;
	}
	.text {
		float: left;
		width: 250px;
		-webkit-tap-highlight-color: transparent;
	}
	.details {
		padding-left: 20px;
		padding-bottom: 5px;
		font-size: 12px;
		clear: both;
	}
	.clearfix {
		clear: both;
	}
	.details > div > span {
		color: #888;
		background-color: #FFF;
	}
	.assignedto {
		background-color: #DDD;
		display: inline-block;
		padding: 2px;
		margin: 2px 0;
	}
	#tasks p, #topics p {
		margin: 0;
	}
	
	footer {
		margin-top: 10px;
		clear: both;
	}
	
	#maindivs {
		display: none;
	}
	
	#logindiv {
		min-height: 354px;
		overflow: hidden;
		position: relative;
	}
	.pane {
		margin: 0;
		font-size: 18px;
		width: 100%;
		position: absolute;
		top: 0;
	}
	.paneList {
		border-top: 1px solid #CCC;
		margin: 0;
	}
	.paneList li {
		border-bottom: 1px solid #CCC;
		margin: 0;
		padding: 10px;
		background: url({{static_url('images/next.png')}}) no-repeat right center transparent;
	}
	.pane h1 a {
		font-size: 16px;
		vertical-align: top;
		display: inline-block;
		margin-right: 10px;
		background-color: #444;
		color: white;
		padding: 5px 10px;
		border-radius: 3px;
	}
	#skipPane {
		text-align: center;
		padding-top: 30px;
	}
	#skipPane span {
		padding-bottom: 30px;
		display: inline-block;
		background: url({{static_url('images/ajax-loader.gif')}}) no-repeat bottom center transparent;
		width: 90%;
	}
	
</style>
</head>

<body>
<header>
	<img id="logo" src="{{static_url('images/mini_logo.png')}}"/>
	<div id="title">TIN CAN</div>
	<div id="identity">
		<div id="logged_in"><img src="{{static_url('images/user.png')}}"><span></span></div>
	</div>
</header>
<div id="container">

<div id="logindiv">
	<div id="startPane" class="pane current">
		<h1>Choose User</h1>
		<ul class="paneList">
		{% for user in users %}
			<li id="{{user.uuid}}">{{user.name}}</li>
		{% end %}
		</ul>
	</div>
</div>

<div id="maindivs">
	
	<div id="navbar">	
		<h1 class="current"><img src="{{static_url('images/comments.png')}}"/>&nbsp;TOPICS</h1>
		<h1><img src="{{static_url('images/note.png')}}"/>&nbsp;TASKS</h1>
	</div>

	<div id="topicdiv" class="pane">

	<div id="add_topic" class="add_form">
	<form action="" method="get" accept-charset="utf-8">
		<input type="text" name="new_topic" value="" id="new_topic" class="item_text" placeholder="new topic..."/>
		<input type="submit" value="Add"/ id="submit_new_topic" class="submit_item">
	</form>
	</div>

	<ul id="topics">

	</ul>
</div><!--end #topicdiv-->

	<div id="taskdiv" class="pane">

	<div id="add_task" class="add_form">
	<form action="" method="get" accept-charset="utf-8">
		<input type="text" name="new_task" value="" id="new_task" class="item_text" placeholder="new task..."/>
		<input type="submit" value="Add" id="submit_new_task" class="submit_item"/>
	</form>
	</div>

	<ul id="tasks">

	</ul>
	
</div><!--end #taskdiv-->

</div><!--end #maindivs-->

</div>
<div style="clear:both"></div>
<footer>an <a href="http://media.mit.edu/">MIT Media Lab</a> / <a href="http://www.media.mit.edu/speech/">Speech + Mobility</a> project</footer>




</body>
</html>