<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN"
	"http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
	<meta name="viewport" content="width=320; initial-scale=1.0; minimum-scale=1.0; maximum-scale=1.0; user-scalable=0;">
	<title>login</title>
<script type ="text/javascript" src = "http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.js"></script>
<script type = "text/javascript" src = "../static/js/Timeline.js"></script>
<script type="text/javascript" src="{{static_url('js/util.js')}}"></script>
<script type="text/javascript" src="{{static_url('js/ConnectionManager.js')}}"></script>
<script type="text/javascript" src="{{static_url('js/StateManager.js')}}"></script>
<script type="text/javascript" src="{{static_url('js/model.js')}}"></script>
<script type="text/javascript" charset="utf-8">
	var userListElement;
	var roomListElement;
	var locListElement;
	var nameTemplate;
	var roomTemplate;
	var locationTemplate;
	var locTemplate
	var users;
//	var names = ["asdf", "asdf325", "omgomgomg","sd","sdf","sdfdsfgf","sdvdfbdfg","ssdf","sdg"];
	var names=[];
	var locs=[];
//	var rooms = [[true,"asdf","meeting1",[4,3]], [true,"asdf325","meeting2",[5,4,2,1]], [false,"omgomgomg","meeting3's name is really long and goes past the edge",[7,1,3]],[false,"wtf","meeting4",[1,12]]];
	var rooms=[];
	var roomNames=[];
	var locNames=[];
	var nameElements = [];
	var roomElements = [];
	var locElements = [];
	var select=true; //keeps track of whether you can select usernames
	var selected;
	var user1;
	
	$(document).ready(function(){
		//initializes variables
		//locTemplate and locationTemplate have similar names - not sure how to distunguish.
		//locTemplate is for the location page, locationTemplate is for the rooms page (the 
		//squares that show number of people in each location in the rooms).
		userListElement = $("#usernamelist");
		nameTemplate = $("#nametemplate");
		locListElement=$("#loclist");
		locTemplate=$("#loctemplate");
		roomListElement = $("#roomlist");
		roomTemplate = $("#roomtemplate");
		locationTemplate = $("#locationtemplate");
		
		//hides templates and locations/rooms pages
		nameTemplate.hide();
		locTemplate.hide();
		roomTemplate.hide();
		locationTemplate.hide();
		$("#searchtype").hide();
		$("#newuser").hide();
		$("#locs").hide();
		$("#rooms").hide();
		
		//handlers for add user and searching
		$("#newname").keypress(enter);
		$("#searchname").keyup(searchForUser);
		
		//update();
		//because js files take forever to load
		connection.addListener({connectionEvent: function(e) {
			console.log("event: " + e.eventType);
			switch(e.eventType) {
				case "GET_STATE_COMPLETE":
					update();
					break;
					
				case "LOGIN_COMPLETE":
					t=setTimeout("tempfunction()",500);
					
	            case "ADD_ACTOR_DEVICE":
	                //only sent to one device, so this event shouldn't trigger anything on other devices
					update();
	                break;

	            case "NEW_MEETING":
	                
	                break;

	            case "NEW_USER":
	                displayNameList();
	                break;

	            case "USER_JOINED_LOCATION":
					update();
					if (e.actorUUID==connection.userUUID){
						for (key in users){
							if (users[key].uuid==connection.userUUID){
								user=users[key]
							}
						}
						selectLoc(user);
					}
	                break;

	            case "USER_LEFT_LOCATION":
	                
	                break;

	            case "LOCATION_JOINED_MEETING":
	                update();
	                break;

	            case "LOCATION_LEFT_MEETING":
	                
	                break;

	            case "NEW_DEVICE":
	                // I don't think we care about this, do we?
	                break;
				
	        }
		}});
		connection.getState();
	});
	
	function tempfunction(){
		update();
		for (key in users){
			if (users[key].uuid==connection.userUUID){
				user=users[key]
			}
		}
		selectUser(user);
	}
	
	//in theory, I'd like to use this to update pages from the server, but I don't know how
	//to do it without clearing the bg color for the selected item. currently it's only used 
	//to initialize the page
	function update(){
		displayNameList();
		displayLocList();
		displayRoomList();
	}
	
	//removes all name elements, gets new userlist from state and creates new name elements
	function displayNameList(){
		for (nameElement in nameElements){
			nameElements[nameElement].remove();
		}
		
		users=state.getUsers();
		names=[];
		nameElements=[];
		for (user in users){
			names.push(users[user].name);
		}
		
		for (var name in names){
			var newNameElement = createNewNameItem(names[name]);
			userListElement.append(newNameElement);
			nameElements.push(newNameElement);
		}
	}
	
	//removes all loc elements, gets new locations from state and creates new loc elements
	function displayLocList(){
		for (locElement in locElements){
			locElements[locElement].remove();
		}
		
		locs=state.getLocations();
		locNames=[];
		locElements=[];
		for (loc in locs){
			locNames.push(locs[loc].name);
		}
		
		for (var loc in locs){
			var newLocElement = createNewLocItem(locs[loc]);
			locListElement.append(newLocElement);
			locElements.push(newLocElement);
		}
	}
	
	//removes all room elements, gets new rooms from state and creates new room elements
	function displayRoomList(){
		for (roomElement in roomElements){
			roomElements[roomElement].remove();
		}
		
		rooms=state.rooms; //I have no idea how I did this. will probably get replaced with a method
		roomNames=[];
		roomElements=[];
		for (room in rooms){
			roomNames.push(rooms[room].name);
		}

		for (var x in rooms){
			var newRoomElement = createNewRoomItem(rooms[x]);
			roomListElement.append(newRoomElement);
			roomElements.push(newRoomElement);
		}
	}
	
	function createNewNameItem(name){
		var newNameElement = nameTemplate.clone();
		newNameElement.find("div").html(name);
		newNameElement.show();
		return newNameElement;
	}
	
	function createNewLocItem(loc){
		var newLocElement = locTemplate.clone();
		newLocElement.find("div").html(loc.name);
		newLocElement.show();
		return newLocElement;
	}
	
	function createNewRoomItem(room){
		newRoomElement = roomTemplate.clone();
		if (room.currentMeeting!=null){ //assume every room has a current meeting for now
			newRoomElement.find("strong").html(room.name);
			newRoomElement.find("div.room").append(" - " + room.currentMeeting.title);
			console.log(room.currentMeeting.locs)
			for (var y in room.currentMeeting.locs){
				newloc = locationTemplate.clone();
				newloc.prepend(room.currentMeeting.locs[y].users.length);
				console.log(room.currentMeeting.locs[y].users)
				newloc.show();
				newRoomElement.find("ul").append(newloc);
			}
		}
		else{
			newRoomElement.find("em").html(room.name);
		}
		
		newRoomElement.data("timeline",new Timeline(newRoomElement.find("canvas")[0]));
		newRoomElement.data("timeline").start();
		newRoomElement.show();
		return newRoomElement;
	}
	
	//only used in search. will probably get deleted.
	//hide all elements. go through names. if a name is in list, show the name element.
	function displayList(list){
	//	$(".name").hide();
		for (var name in names){
			if ($.inArray(names[name],list)>=0){
				nameElements[name].show();
			}
		}
	}
	
	//hides and shows the "add new user" box
	function toggleAdd(){
		clearSearch();
		var addName=$("#newuser")[0];
		$("#searchtype").hide();
		
		if (addName.style.display!="block"){
			addName.style.display="block";
			$("#newname").focus();
			select=false;
		}
		else{
			$("#newname")[0].value="";
			addName.style.display="none";
			select=true;
		}
	}
	
	//allows enter to submit the name of the new user instead of having to click the button
	function enter(e){
		if (e.which==13){
			$("#submit").focus();
			submitNewUser();
		}
	}
	
	//should eventually be able to submit new users to the server. currently updates
	//names and nameElements. unfortunately, updating names screws things up in selectUser
	//because the new name is in names but there's no user object, so it sends the wrong info
	//to the server. I would change it, but I can't create new users yet
	function submitNewUser(){
		var newName=$("#newname")[0].value;
		if (newName!=""){
			$("#newname")[0].value="";
		/*	var newNameElement = createNewNameItem(newName);
			names.splice(0,0,newName);
			newNameElement.insertAfter("#nametemplate");
			nameElements.splice(0,0,newNameElement);*/
			toggleAdd();
			connection.addUser(newName,true);
		}
	}
	
	//next few functions are for search, which we'll probably delete anyways...
	function toggleSearch(){
		select=true;
		$(".name").css("background","white");s
		search=$("#searchtype")[0];
		$("#newuser").hide();
		
		if (search.style.display!="block"){
			search.style.display="block";
			$("#searchname").focus();
		}
		else{
			$("#searchname")[0].value="";
			search.style.display="none";
			displayList(names);
		}
	}
	
	function searchForUser(){
		$(".name").css("background","white");
		searchName=$("#searchname")[0].value.toUpperCase();
		var newList = new Array();
		for (var name in names){
			if (names[name].substring(0,searchName.length).toUpperCase()==searchName){
				newList.push(names[name]);
			}
		}
		displayList(newList);
	}
	
	function clearSearch(){
		$(".name").css("background","white");
		$("#searchname")[0].value="";
		displayList(names);
		$("#searchname").focus();
	}
	
	//slides the screen left slightly
	function slideLeft(userspos,locspos,roomspos){
		$("#users").offset({left:userspos-5,top:0});
		$("#locs").offset({left:locspos-5,top:0});
		$("#rooms").offset({left:roomspos-5,top:0});
	}
	
	//slides the screen right slightly
	function slideRight(userspos,locspos,roomspos){
		$("#users").offset({left:userspos+5,top:0});
		$("#locs").offset({left:locspos+5,top:0});
		$("#rooms").offset({left:roomspos+5,top:0});
	}
	
	//highlights the clicked user (if add is not toggled), refreshes loc page, and calls selectUser
	function highlightUser(item){
		$(".name").css("background","white");
		if (select){
			item.style.background="#00CCFF";
			username = $(item).find("div").html();
			user=users[$.inArray(username,names)];
			$("#currentuser").html("logged in as: " + user.name);
			connection.setUser(user.uuid);
			connection.connect();
			console.log(user);
			user1=user;
		}
		else{
			toggleAdd();
		}
	//	connection.getState(); //I hope this is how you update the state
	//	var t = setTimeout("tempUser()",200);
		
	}
	
	//calls itself in a setTimeout to slide left. called after a LOGIN_COMPLETE event is triggered,
	//which only 
	function selectUser(user){
		console.log(user);
		if (user.isInLocation()){
			console.log("hi");
			$("#rooms").css({left:324,top:0});
			selectLoc(user);
		//	$("#users").hide();
		//	$("#locs").hide();
			//this is really hacky...it doesn't let me set the css to -320 and -640 
			//(maybe because they're negative?), so I'm just making them move again
			$("#users").animate({"left": "-=324px"},"fast");
			$("#locs").animate({"left": "-=324px"},"fast");
		}
		else{
		//	selectUserAnimation();
			$("#locs").show();
			
			if ($("#locs").offset().left>=0){
				$("#locs").animate({"left": "-=324px"},"slow");
				$("#users").animate({"left": "-=324px"},"slow");
				$("#rooms").animate({"left": "-=324px"},"slow");
				console.log($("#rooms").offset().left)
			}
		}
	}
	
	function selectUserAnimation(){
		$("#locs").show();
		if($("#locs").offset().left>=5){
			slideLeft($("#users").offset().left,$("#locs").offset().left,$("#rooms").offset().left);
			var t = setTimeout("selectUserAnimation()", 2);
		}

		else{
			$("#users").hide();
			$("#locs").offset({left:0,top:0});
			$("#users").offset({left:0,top:0});
			$("#rooms").offset({left:0,top:0});
		}
	}
	
	//highlights the clicked user, refreshes the room page, and calls selectLoc
	function highlightLoc(item){
		$(".loc").css("background","white");
		item.style.background="#00CCFF";
		locname = $(item).find("div").html();
		loc=locs[$.inArray(locname,locNames)];
		$("#currentloc").html("location: " + loc.name);
	//	connection.getState(); //I hope this is how you update the state
		connection.joinLocation(loc.uuid);
		
	}
	
	//sets the "location:" and calls itself in a setTimeout to slide left. also sends information
	//to server
	function selectLoc(user){
		$("#rooms").show();
		$("#currentloc").html("location: " + user.loc.name);
		//selectLocAnimation();
		console.log($("#rooms").offset().left>=0)
	//	if($("#rooms").offset().left>=0){
			console.log("hi");
			$("#users").animate({"left": "-=324px"},"slow");
			$("#locs").animate({"left": "-=324px"},"slow");
			$("#rooms").animate({"left": "-=324px"},"slow");
	//	}
	}
	
	function selectLocAnimation(){
		if($("#rooms").offset().left>=5){
			slideLeft($("#users").offset().left,$("#locs").offset().left,$("#rooms").offset().left);
			var t = setTimeout("selectLocAnimation()", 2);
		}
		
		else{
			$("#locs").hide();
			$("#rooms").offset({left:0,top:0});
			$("#locs").offset({left:0,top:0});
			$("#users").offset({left:0,top:0});
		}
	}
	
	//highlights the current room and sends information to the server. also updates the statusbar
	//on clicks (but makes the server yell a lot) to test the timeline library
	function selectRoom(item){
		$(".meetingroom").css("background","white");
		
		roomname = $(item).find("div").find("strong").html();
		if (roomname==""){
			roomname = $(item).find("div").find("em").html();
		}
		
		room=rooms[$.inArray(roomname,roomNames)];
		connection.joinRoom(room.uuid);
		
		//item.style.background="#00CCFF";
		//statusbar($(item));
	}
	
	function statusbar(item){
		item.data("timeline").draw();
	}
	
	//slides right 
	function backToUsers(){
		$("#users").show();
		$("#users").animate({"left": "+=324px"},"slow");
		$("#locs").animate({"left": "+=324px"},"slow");
		$("#rooms").animate({"left": "+=324px"},"slow");
		$("#locs").hide();
	/*	if($("#users").offset().left<=-5){
			slideRight($("#users").offset().left,$("#locs").offset().left,$("#rooms").offset().left);
			var t = setTimeout("backToUsers()", 2);
		}
		
		else{
			$("#locs").hide();
			$("#rooms").offset({left:0,top:0});
			$("#locs").offset({left:0,top:0});
			$("#users").offset({left:0,top:0});
		}*/
	}
	
	//slides right
	function backToLocs(){
		$("#locs").show();
		$("#users").animate({"left": "+=324px"},"slow");
		$("#locs").animate({"left": "+=324px"},"slow");
		$("#rooms").animate({"left": "+=324px"},"slow");
		$("#rooms").hide();
	/*	if($("#locs").offset().left<=-5){
			slideRight($("#users").offset().left,$("#locs").offset().left,$("#rooms").offset().left);
			var t = setTimeout("backToLocs()", 2);
		}
		
		else{
			$("#rooms").hide();
			$("#rooms").offset({left:0,top:0});
			$("#locs").offset({left:0,top:0});
			$("#users").offset({left:0,top:0});
			//connection.
		}*/
	}
	
</script>

<style type="text/css" media="screen">
	body{
		margin:0px;
	}
	div{
		margin:0px;
	}
	#usernamelist,#roomlist,#loclist{
		border-top:solid 3px;
		border-bottom:solid 2px;
		border-right:solid 2px;
		border-left:solid 2px;
		width:320px;
		list-style-type:none;
		padding:0px;
		margin:0px;
	}
	#users{
		float:left;
		position:absolute;
		top:0px;
		left:0px;
	}
	#locs{
		float:left;
		position:absolute;
		top:0px;
		left:324px;
	}
	#rooms{
		float:left;
		position:absolute;
		top:0px;
		left:648px;
	}
	li{
		border-bottom: 1px solid black;
	}
	.user{
		width:320px;
		height:50px;
		margin:none;
		padding:none;
	}
	.loc{
		width:320px;
		height:50px;
		margin:none;
		padding:none;
	}
	.meetingroom{
		width:320px;
		height:90px;
		margin:none;
		padding:none;
		clear:both;
		position:relative;
	}
	.participants{
		margin-left:30px;
		float:left;
		padding:0px;
		height:50px;
		font-family:"Arial",sans-serif;
		width:260px;
		text-align:center;
		list-style-type:none;
	}
	.location{
		font-size:30px;
		display:inline;
		border: 1px solid #0066FF;
		padding:0px;
	}
	.figure{
		margin:0px;
		padding:0px;
	}
	.room{
		font-size:20px;
		width:320px;
		font-family:"Arial",sans-serif;
		white-space:nowrap;
		overflow:hidden;
	}
	.statusbar{
		height:15px;
		width:300px;
		margin-left:5px;
		margin-right:5px;
		position:absolute;
		top:70px;
		left:5px;
	}
	#back{
		width:100px;
		float:left;
		padding-top:10px;
		padding-bottom:10px;
		margin-left:5px;
	}
	#currentuser{
		text-align:right;
		margin:3px;
		font-family:"Arial",sans-serif;
		font-size:12px;
	}
	#currentloc{
		text-align:right;
		margin:3px;
		font-family:"Arial",sans-serif;
		font-size:12px;
	}
	.status{
		width:25px;
		float:left;
		padding-top:12px;
		padding-bottom:12px;
	}
	.next{
		width:25px;
		float:right;
		padding-top:11px;
		padding-bottom:11px;
	}
	.icon{
		width:40px;
		float:left;
		padding-top:5px;
		padding-bottom:5px;
	}
	.username{
		width:230px;
		float:left;
		font-family:"Arial",sans-serif;
		padding-top:15px;
		padding-bottom:15px;
	}
	.locname{
		float:left;
		font-family:"Arial",sans-serif;
		padding-top:15px;
		padding-bottom:15px;
		padding-left:25px;
	}
	.room{
		padding-top:5px;
		padding-right:5px;
		padding-left:5px;
	}
	#add{
		width:100px;
		text-align:right;
		float:left;
		padding-top:10px;
		padding-bottom:10px;
	}
	#title{
		width:120px;
		text-align:center;
		font-size:20px;
		float:left;
		font-family:"Arial",sans-serif;
		padding-top:15px;
		padding-bottom:15px;
	}
	#search{
		width:100px;
		float:right;
		padding-top:10px;
		padding-bottom:10px;
	}
	#header{
		width:320px;
		height:50px;
		margin:none;
		padding:none;
		clear:both;
		border:solid 2px;
	
	.textbox{
		height:25px;
		margin-top:7px;
		margin-bottom:7px;
		margin-left:5px;
		width:150px;
		font-size:17px;
	}
	#newuser{
		display:none;
	}
	#searchtype{
		display:none;
	}
	

</style>
</head>

<body>
	<div id = "users">
	<div id="header">
		<div id = "add"><button id="addbutton" onclick = "toggleAdd();">Add</button></div>
		<div id ="title">Users</div>
		<div id ="search"><button id="searchbutton" onclick = "toggleSearch();">Find</button></div>
	</div>
	<div id="content">
	<ul id = "usernamelist">
		<li id = "newuser" class = "user">
			<label for="name"></label><input type="text" name="name" value="" id="newname" class="textbox">
			<button id = "submit" onclick="submitNewUser();">Create!</button>
		</li>
		<li id = "searchtype" class = "user">
			<label for="name"></label><input type="text" name="name" value="" id="searchname" class="textbox">
			<button id = "clearsearch" onclick="clearSearch();">x</button>
			<button id = "cancelsearch" onclick="toggleSearch();">Cancel</button>
		</li>
		<li id ="nametemplate" class="user name" onclick = "highlightUser(this);">
			<img class = "status" src = "{{ static_url("images/online.png")}}">
			<div class = "username"></div>
			<img class = "icon" src = "{{ static_url("images/icon.png")}}">
			<img class = "next" src = "{{ static_url("images/next.png")}}">
		</li>
	</ul>
	</div>
	</div>
	
	<div id = "locs">
	<div id="header">
		<div id = "back"><button id="backbutton" onclick="backToUsers();">< Users</button></div>
		<div id ="title">Locations</div>
		<div id = "currentuser">logged in as: </div>
	</div>
	<ul id = "loclist">
		<li id ="loctemplate" class="loc name" onclick = "highlightLoc(this);">
			<div class = "locname"></div>
			<img class = "next" src = "{{ static_url("images/next.png")}}">
		</li>
	</ul>
	</div>
	
	<div id = "rooms">
	<div id="header">
		<div id = "back"><button id="backbutton" onclick="backToLocs();">< Locations</button></div>
		<div id ="title">Rooms</div>
		<div id = "currentloc">location: </div>
	</div>
	<ul id = "roomlist">
		<li id = "locationtemplate" class = "location"><img class = "figure" src = "{{ static_url("images/icon.png")}}"></li>
		<li id ="roomtemplate" class="meetingroom name" onclick = "selectRoom(this);">
			<div class = "room"><strong></strong><em></em></div>
			<ul class = "participants">
			</ul>
			<img class = "next" src = "{{ static_url("images/next.png")}}">
			<canvas class="statusbar" width=300 height=15><canvas>
		</li>
	</ul>
	</div>
</body>
</html>
