<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN"
	"http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html>
<head>
	<meta http-equiv="Content-type" content="text/html; charset=utf-8">
	<title>Yarn Server State  @{{curTime}}</title>
	
	<style type="text/css" media="screen">
		body {
			font-family: Helvetica, Arial, sans-serif;
		}
		
		ul, li{
			padding-top:none;
			padding-bottom:none;
			margin-top:none;
			margin-bottom:none;
		}
	
		.user, .location, .room {
			border: 1px solid black;
			margin: 10px;
			padding-left:3px;
			
			width: 350px;
			float: left;
		}
		
		.task, .topic{
			
		}
		
		.user .name {
			
		}
		
		.logged-in {
			background-color: #99ff99;
		}
		
		.logged-out {
			background-color: #ff9999;
		}
		
		br.clear {
			clear: both;
		}
	</style>
</head>
<body id="state" onload="">

<div id="users">
<h1>Users</h1>
{%import time%}
{% for user in users %}
{% if user.isLoggedIn() %}
<div class="user logged-in">
{% else %}	
<div class="user logged-out">
{% end %}

<span class="name">{{user.name}}</span>
<div>status: {{user._status}}</div>
<span class="devices">

	devices:
	{% for device in user.getDevices() %}
		{{str(device) + ","}}
	{% end %}
</span><br/>

<span class="tasks">
	tasks:
	{% for task in user.tasks %}
		{{task.text}}
	{% end %}
</span>

</div>
{% end %}

<br class="clear"/>
</div>


<div id="locations">
<h1>Locations</h1>
{% for location in locations %}

{% if location.isLoggedIn() %}
<div class="location logged-in">
<strong>{{location.name}}:</strong>
<div>users: {% for user in location.getUsers() %}{{user.name+", "}} {% end %}</div>
<div>devices: {{len(location.getDevices())}}</div>

{% if location.meeting != None %}
<div>meeting: {{location.meeting.title}}@{{location.meeting.room.name}}</div>
{% end %}

{% else %}
<div class="location logged-out">
<div>{{location.name}}</div>
{% end %}

</div>
{% end %}
<br class="clear"/>
</div>

<div id="rooms">
<h1>Meetings</h1>
{% for room in rooms %}

{% if room.currentMeeting==None %}
<div class="room logged-out">
{{room.name}}: {{room.currentMeeting}}
{% else %}
<div class="room logged-in">
<strong>{{room.name}}: {{room.currentMeeting.title}}</strong>
<div>Started At: {{time.strftime("%I:%M %p", time.localtime(room.currentMeeting.startedAt))}}</div>
<div>Locations: {% for loc in room.currentMeeting.locations %}{{loc.name+", "}}{% end %}</div>
<div>Users: {% for user in room.currentMeeting.getCurrentParticipants() %}{{user.name+", "}}{% end %}</div>
<div>Topics: 
	<ul>
	{% for topic in room.currentMeeting.topics%}
	<li class = "topic">
		{{topic.text}}: {{topic.status}}
		<div>Created by {{topic.createdBy.name}} at {{time.strftime("%I:%M %p", time.localtime(topic.createdAt))}}</div>
		{% if topic.status!= "FUTURE"%}
		<div>Started by {{topic.startActor.name}} at {{time.strftime("%I:%M %p", time.localtime(topic.startTime))}}</div>
		{% end %}
		
		{% if topic.status== "PAST"%}
		<div>Stopped by {{topic.stopActor.name}} at {{time.strftime("%I:%M %p", time.localtime(topic.stopTime))}}</div>
		{% end %}
	</li>
	{% end %}
	</ul>
</div>
<div>Tasks: 
	<ul>
	{% for task in room.currentMeeting.tasks%}
	<li class = "topic">
		{{task.text}}: 
		<div>Created by {{task.createdBy.name}} at {{time.strftime("%I:%M %p", time.localtime(task.createdAt))}}</div>
		{% if task.assignedTo!=None%}
		<div>Assigned by {{task.assignedBy.name}} to {{task.assignedTo.name}}
			at {{time.strftime("%I:%M %p", time.localtime(task.assignedAt))}}</div>
		{% end %}
	</li>
	{% end %}
	</ul>
</div>
{% end %}
</div>
{% end %}
<br class="clear"/>
</div>

</div>


</body>
</html>