{% import time %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta http-equiv="Content-type" content="text/html" charset="utf-8">
	<title>Class Summary</title>
	
	<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.js"></script>
	
	<link rel="stylesheet" href="../css/timeline.css" type="text/css" media="screen" title="no title" charset="utf-8">
	
</head>
<body id="meeting_timeline" onload="">
<div id="header"><span>Class Summary</span><span class="date">{{time.strftime("%m/%d/%y")}}</span>
		<span class="time">{{time.strftime("%I:%M", time.localtime(metadata["meetingStart"]))}}</span>-<span class="time">{{time.strftime("%I:%M", time.localtime(metadata["meetingEnd"]))}}</span>
		<span class="duration">({{str((int((metadata["meetingEnd"] - metadata["meetingStart"])/60)))}}m)</span></div>

<div id="container">

<div id="topics-container">
<h2>Topics</h2>
{% if len(topicsDict)==0 %}
<span id="no-topics">no topics in this meeting</span>
{% end %}
{% for topic in topicsDict %}
<div class="topic">
	<div class="header">
	<div>{{topic["topic"].text}}</div>
	<div class="footer">
		<span class="creator">created by {{topic["topic"].createdBy.name}}</span>
		<span class="duration">lasted {{str(int(topic["topic"].stopTime - topic["topic"].startTime)/60)}} minutes</span>
	</div>
	</div>
	<div class="ideas">
	<table>
	{% for idea in topic["ideas"] %}
	<tr>
		<td><span class="name">{{idea.createdBy.name}}</span></td>
		<td class="text">{{idea.text}}</td>
	</tr>
	{% end %}
	</table>
	</div>
</div>
{% end %}
</div>

<div id="users-container">
<h2>Participants</h2>
{% for user in meeting.allParticipants %}
<div class="user">
	<div class="header">
	<span class="name">{{ user.name }}</span>
	<span class="idea-count">{{ len(user.tasks) }} ideas</span>
	</div>
	<div class="ideas">
		<ul>
			{% for task in user.tasks %}
			<li>
				{{ task.text }}
			</li>
			{% end %}
		</ul>
	</div>
</div>
{% end %}
</div>

<br class="clear">

<div id="readable_history">
{% for event in meeting.eventHistoryReadable %}
{{event}}<br/>
{% end %}
</div>
	
</div>
</body>
</html>